.nav-link {
  font-size: 30px;
}

.navbar-nav {
  width: 50%;
  margin: auto;
  padding: 10px;
}

body {
  background-image: url(images/background.jpg);
  background-color: #5d5d5d;
}

.main {
  font-size: 20px;
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 25px;
  margin-bottom: 50px;
}

.navbox {
  position: relative;
  box-shadow: 7px 10px 10px;
}

.mainFlex {
  display: flex;
  flex-direction: row-reverse;
}

.academicsFlex {
  display: flex;
  flex-direction: row;
}

.myPic {
  border-radius: 15px;
  border: double 5px black;
  margin: 20px;
  width: 200px;
  height: 250px;
}

.academicsPic {
  border-radius: 15px;
  border: double 5px black;
  margin: 20px;
  height: 200px;
  width: 200px;
}

footer {
  padding-top: 10px;
  width: 100%;
  height: 5%;
  color: #c1c1c1;
  background-color: #353a40;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

h2 {
  text-align: right;
}

p {
  text-indent: 50px;
}

.tableHead {
  font-size: 20px;
}

th {
  border: solid 1px black;
  font-weight: normal;
  font-size: 20px;
}

@media screen and (max-width:700px) {
  .mainFlex {
    flex-direction: column;
  }

  .academicsFlex {
    flex-direction: column;
  }
}

@media screen and (max-width:500px) {
  .main {
    font-size: 15px;
  }

  .myPic {
    width: 155px;
    height: 200px;
  }

  .academicsPic {
    width: 100px;
    height: 100px;
  }
}
